.hero-wrapper{
    color: white;
    background: var(--black);
    position: relative;
    padding-bottom: 2rem;
}
.hero-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
/* Left Side */
.hero-left{
    gap: 3rem;
}
.hero-title{
    position: relative;
    z-index: 1;
}
.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}
.orange-circle{
    width: 4rem;
    height: 4rem;
    background:var(--orange-gradient);
    border-radius: 100%;
    position: absolute;
    right: 28%;
    top: -10%;
    z-index: -1;
}
.search-bar{
    background-color: white ;
    padding:0.5rem 1rem;
    border: 3px solid rgba(120, 120, 120, 0.374);
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.search-bar>input{
    border: none;
    outline: none;
    padding: 8px 10px;
    font-size: 16px;
}
.stats{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.stat{
    padding: 15px;
    font-size: 30px; 
}
/* Right Side */
.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid  rgba(255, 255, 255, 0.12);
}
.image-container img{
    width: 100%;
    height: 100%;
}
@media (max-width:768px){
    .hero-title>h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .hero-container{
        flex-direction: column;
        align-items: center;
    }
    .image-container{
        margin-top: 2rem;
        width: 40rem;
        height: 45rem;
    }
}
@media (max-width:1162px) {
    .hero-title>h1{
        font-size: 3rem;
    }
    .hero-right{
        
    }
    
}
